@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #22254b;
  color: #ffffff;
  display: flex;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
.nav {
  background-color: #373269;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.searchContents {
  background-color: #373269;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.searchBar {
  background-color: transparent;
  border: 2px solid #22254b;
  border-radius: 50px;
  color: white;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
}
.MovieCards {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow:hidden;
  position: relative;
  margin: 1rem;
  width: 300px;
}
.movie-poster {
  object-fit: cover; 
  height: 500px;
  max-width: 100%;
}
.movie-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 100%;
  padding-left:10%;
  padding-right: 10%;
}
